<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script> var game_id="<%=id%>"; </script>
    <script> alert(game_id); </script>
    <% // another script tag here to add the game library %>
    <h1 class="title"><%= title %></h1>
    <div class="game">
        <span> THE CANVAS IS GOING TO GO HERE WHEN WE GET THIS SET UP </span>
    </div>
  </body>
</html>
